/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
*

/* Some code referenced from this video: https://www.youtube.com/watch?v=1wfeqDyMUx4&t=20s&ab_channel=OnlineTutorials */

{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nerko One", cursive;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	background: #42326e;
	overflow-x: hidden;
}

header {
	position: abosulte;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000;
}


header ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li {
	list-style: none;
	margin-left: 20px;
}

header ul li a {
	text-decoration: none;
	padding: 6px 15px;
	color: #FFFFFF;
	border-radius: 20px;
}

header ul li a:hover {
	background: #FFFFFF;
	color: #42326e;
}

section {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

section img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}

section::before 
{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top,#42326e,transparent);
	z-index: 150;
}

section img#cloud-1{
	z-index: 10;
}

section img#stars{
	opacity: 80%;
}

#text {
	position: absolute;
	color: #FFFFFF;
	white-space: nowrap;
	font-size: 7.5vw;
	z-index: 9;
}

.grid-container 
{
	position: relative;
	padding: 100px;
	background: #42326e;
}

.grid-container h2
{
	font-size: 3.5em;
	margin-bottom: 10px;
	color: #FFFFFF;
}

.grid-container p 
{
	font-family: verdana;
	font-size: 1em;
	letter-spacing: 1px;
	line-height: 1.5em;
	color: #FFFFFF;
	margin-bottom: 75px;
	margin: 0;
	padding: 10px;
}


/* Scroll To Top Button (referenced from video: https://www.youtube.com/watch?v=fYGe-SuFAHU&ab_channel=TylerPotts) */

html {
	scroll-behavior: smooth;
}

.back-to-top {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #FFFFFF;
	border-radius: 1.25rem;
	padding: 0.5rem;
	text-decoration: none;
	z-index: 2000;
}

.back-to-top span {
	color: #42326e;
	font-size: 1.5rem;
	transition: 0.2s ease-out;
}

.back-to-top:hover span {
	transform: translateY(-4px)
}

img {
  display: block;
  max-width: 100%;
  margin-bottom: 2.75em;
}

